* {
    margin: 0%;
    padding: 0%;
    scrollbar-width: thin;
    scrollbar-color: #04BAD8 #F2FF8D; }

    body{ font-family: 'Montserrat', 'sans-serif'; 
    }

    h1 {
        margin: 1rem 20rem;
        padding-top: 20px;
        font-size:xx-large;
        justify-content: center;
        justify-content: center;
        text-align: center;
        color: black }

        h2 {
            font-size: medium;
            padding-top: 5px;
        }

        h3 { color: rgb(9, 9, 9)}

        P { color: black;}